ul, .container{
    background: black;
    height: 30px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

li{
    float: left;
    list-style-type: none;
}

li a{
    color:white;
    text-decoration: none;
   /*  padding-right: 20px;
    padding-left: 20px; */
    padding-inline: 20px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;

}

a:hover{
    background: gray;
    height: 30px;
}
.caixaLogin{
    
    position: relative;
    left: 83%;
}


.caixaLogin a:hover{
    background-color: orangered;

}

.conteudoFluante{
    border:1px solid black;
    overflow:auto;
}

.conteudoFluante img{
    float:left;
    margin:20px;
}
 img{
     margin:5px;
 }

 img:hover{
     opacity: 0.4;
 }

