
/* -display
 -block 
 -inline 
 -inline-block 
 -flex 
 
 display:block - especifica que o elemento vai ocupar toda a linha
 - div 
 - titulos
 - parágrafo
 - form
 - reader
 - section
 - footer*/

 /* display: inLine - especifico que o elemento não ocupada a linha toda e nem se inicia uma próxima linha 
- a
- img
- span */

 .emBloco{
     background-color: blue;
     color:antiquewhite;
 }

 .emLinha{
     background-color: blueviolet;
     color:antiquewhite;
 }

 .blocoEmLinha{
     display:inLine;
     /* as propriedade de altura, largura e margem não funcionam quanto o elemento tem a propriedade display como inLine */
 }

 li{
     display:inline-block;
     background-color: coral;
     
     height: 50px;
 }

 .botao{
    background-color: blue;
    color:white;
    border-radius: 10px;
    text-decoration: none;

   /*  display:inline-block; */
   
   /* a propriedade display com o valor flex possibilidade flexibilidade para posicionarmos os elementos*/
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    height: 50px;
    width: 30%;

    line-height: 50px;
 }
 .vermelho{
    
     background-color: red;
     color:aliceblue;
 }

 .verde{
    
     background-color: green;
     color:aliceblue;
 }

 .azul{
    
     background-color: blue;
     color:antiquewhite;
 }
 .todasDivs{
    display:inline-block;
    height: 60px;
    width: 30%;
 }

 .verde:hover{
    /*  display:none; */
    visibility: hidden;
 }